<!DOCTYPE html>
<html lang="ja">

<head>

  <title>スマートフォンからの脱出 feat.YOYOGI39 | ProjectN</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="shortcut icon" href="assets/img/favicon.ico">
  <link rel="stylesheet" href="assets/css/style.css">

</head>

<body>

  <div id="stage">

    <div id="title">
      <a href="https://mioyuki.github.io/Alfa-yoyogi-39/"><img src="assets/img/tlogo.png" class="rogo"
          alt="YOYOGI39"></a>
      <div class="hr"></div>
    </div>

    <!-- STAGE1　ここから -->

    <div id="text">

      <!-- STAGE1問題セクション　ここから -->
      <div v-if="next['stage0']" id="sectionStage1" class="stage">

        <h2>STAGE：1 Twitterの謎</h2>

        <h3>
          ここが最初のアプリ、Twitterのようだ。
          <br />
          以下の2問を解けば、次のアプリへの道が開くらしい。
          <br />
          問題を解き、ロックを解除しよう。
          <br />
        </h3>

        <h2>第1問</h2>
        <br />
        <h1 class="nazo">
          銅鑼 → 17
          <br />
          味噌 → 35
          <br />
          空 → ??
          <br />
        </h1>

        <!-- img class="toplogo" src="assets/img/t1.png" alt="1-1Twitter問題" -->

        <br /><br />

        <!-- STAGE1問題セクション　ここまで -->

        <!-- STAGE1解答入力セクション　ここから -->

        <div class="frame">
          <h2>1問目の答えを入力</h2>

          <answer-input v-bind:correct="correctAnswer['stage1']['q1']"
            v-on:answer-input="answerInput($event, 'stage1', 1)"></answer-input>

        </div>

        <br /><br /><br />

        <div class="frame">

          <h2>ヒント集</h2>

          <br />
          <h4>謎のヒントと解答は下から確認できる。</h4>

          <details>
            <summary class="btn-flat-border">第1問 - ヒント</summary>
            <br /><br />
            カタカナに直そう
            <br />
          </details>
          <br />
          <details>
            <summary class="btn-flat-border">第1問 - 解答</summary>
            <br /><br />
            56
            <br />
          </details>

        </div>

        <br /><br /><br />

        <h2>第2問</h2>
        <br /><br />

        <h1 class="nazo">
          R8 → 2026
          <br />
          R1 → 2019
          <br />
          H13 → 2001
          <br />
          H18 → ????
          <br />
        </h1>

        <!-- img class="toplogo" src="assets/img/t2.png" alt="1-2Twitter問題" -->

        <br /><br />

        <!-- STAGE1問題セクション　ここまで -->

        <!-- STAGE1解答入力セクション　ここから -->

        <div class="frame">
          <h2>2問目の答えを入力</h2>


          <answer-input v-bind:correct="correctAnswer['stage1']['q2']"
            v-on:answer-input="answerInput($event, 'stage1', 2)"></answer-input>

        </div>

        <br /><br /><br />

        <div class="frame">

          <h2>ヒント集</h2>

          <br />
          <h4>謎のヒントと解答は下から確認できる。</h4>

          <details>
            <summary class="btn-flat-border">第2問 - ヒント</summary>
            <br /><br />
            4桁の数字の後に“年”を付けよう
            <br /><br />
            <img class="toplogo" src="assets/img/t2h.png" alt="1-2Twitterヒント">

            <br />
          </details>
          <br />
          <details>
            <summary class="btn-flat-border">第2問 - 解答</summary>
            <br /><br />
            2006
            <br />
          </details>

        </div>

        <br /><br /><br />

        <!-- STAGE1解答入力セクション　ここまで -->

        <!-- STAGE1クリア画面　ここから -->

        <section v-bind:class="{isClear:clear['stage1']}" class="section section--clear">
          <div class="container">
            <div class="clear-message">
              <div class="clear-message__title">
                <h2>STAGE：1 クリア！</h2>
              </div>
              <div class="clear-message__content">
                <p>Twitterのロックが解除された！</p><br />
                <p>次のアプリへ進もう。</p><br />
                <button v-on:click="nextStage('stage1')" onclick="location.href='#sectionStage2'"
                  class="btn-flat-border">次のステージへ</button>
              </div>
            </div>
        </section>

        <!-- STAGE1クリア画面　ここまで -->

      </div>
      <!-- STAGE1　ここまで -->

      <!-- STAGE2　ここから -->

      <div v-if="next['stage1']" id="sectionStage2" class="stage">

        <!-- STAGE2問題セクション　ここから -->

        <h2>STAGE：2 YouTubeの謎</h2>
        <h3>
          ここが2つ目かつ最後のアプリ、YouTubeのようだ。
          <br />
          Twitterのように以下の2問を解けば、脱出出来るらしい！
          <br />
          問題を解き、スマホから脱出しよう！
          <br /><br />
          ※2問ともひらがなで回答しよう
          <br /><br />
        </h3>

        <h2>第1問</h2>
        <br /><br /><br />

        <div class="hr"></div>
        <img class="toplogo" src="assets/img/y1.png" alt="2-1YouTube問題">
        <div class="hr"></div>

        <br /><br />

        <!-- STAGE2問題セクション　ここまで -->

        <!-- STAGE2解答入力セクション　ここから -->

        <div class="frame">
          <h2>1問目の答えを入力</h2>

          <answer-input v-bind:correct="correctAnswer['stage2']['q1']"
            v-on:answer-input="answerInput($event, 'stage2', 1)">
          </answer-input>

        </div>

        <br /><br /><br />

        <div class="frame">

          <h2>ヒント集</h2>

          <br />
          <h4>謎のヒントと解答は下から確認できる。</h4>

          <details>
            <summary class="btn-flat-border">第1問 - ヒント</summary>
            <br /><br />
            <img class="toplogo" src="assets/img/y1h.png" alt="2-1YouTubeヒント">
            <br />
          </details>
          <br />
          <details>
            <summary class="btn-flat-border">第1問 - 解答</summary>
            <br /><br />
            ようつべ
            <br />
          </details>

        </div>

        <br /><br /><br />

        <h2>第2問</h2>
        <br /><br /><br />

        <div class="hr"></div>
        <img class="toplogo" src="assets/img/y2.png" alt="2-2YouTube問題">
        <div class="hr"></div>

        <br /><br />

        <!-- STAGE2問題セクション　ここまで -->

        <!-- STAGE2解答入力セクション　ここから -->

        <div class="frame">
          <h2>2問目の答えを入力</h2>

          <answer-input v-bind:correct="correctAnswer['stage2']['q2']"
            v-on:answer-input="answerInput($event, 'stage2', 2)">
          </answer-input>

        </div>

        <br /><br /><br />

        <div class="frame">

          <h2>ヒント集</h2>

          <br />
          <h4>謎のヒントと解答は下から確認できる。</h4>

          <details>
            <summary class="btn-flat-border">第2問 - ヒント</summary>
            <br /><br />
            アイコンの状態に注目
            <br />
          </details>
          <br />
          <details>
            <summary class="btn-flat-border">第2問 - 解答</summary>
            <br /><br />
            うそつき
            <br />
          </details>

        </div>

        <!-- STAGE2解答入力セクション　ここまで -->

        <br /><br /><br />

        <!-- STAGE2クリア画面　ここから -->
        <section v-if="clear['stage2']" v-bind:class="{isClear:clear['stage2']}" class="section section--clear">
          <div class="container">
            <div class="clear-message">
              <div class="clear-message__title">
                <h2>STAGE：2 クリア！</h2>
              </div>
              <div class="clear-message__content">
                <p>YouTubeのロックが解除された！</p><br />
                <p>さあ、脱出しよう。</p><br />
                <button v-on:click="nextStage('stage2')" onclick="location.href='#sectionStage3'"
                  class="btn-flat-border">次のステージへ</button>
              </div>
            </div>
        </section>
        <!-- STAGE2クリア画面　ここまで -->

      </div>

      <!-- STAGE2　ここまで -->

      <!-- STAGE3　ここから -->
      <div v-if="next['stage2']" id="sectionStage3" class="stage">

        <!-- STAGE3問題セクション　ここから -->

        <br />

        <h3>
          全てのロックを解除し無事脱出……？
          <br /><br />
          <span class="red">「……この私が、素直にそうさせると思いましたか？」</span>
          <br /><br />
          暴走したAIが立ち塞がってきた。<br />
          AIを倒し、今度こそ脱出しよう。
          <br /><br />
        </h3>

        <h2>FINALSTAGE：最終決戦</h2>
        <br /><br /><br />

        <div class="hr"></div>
        <img class="toplogo" src="assets/img/fin.png" alt="main">
        <div class="hr"></div>

        <br /><br />

        <!-- STAGE3問題セクション　ここまで -->

        <!-- STAGE3解答入力セクションここから -->

        <div class="frame">
          <h2>最終問題の答えを入力</h2>

          <answer-input v-bind:correct="correctAnswer['stage3']['q1']"
            v-on:answer-input="answerInput($event, 'stage3', 1, 'final')"></answer-input>

        </div>

        <br /><br /><br />

        <div class="frame">

          <h2>ヒント集</h2>

          <br />
          <h4>謎のヒントと解答は下から確認できる。</h4>

          <details>
            <summary class="btn-flat-border">最終問題 - ヒント①</summary>
            <br /><br />
            赤線1本+黒線3本の計の4本の線、といえば？
            <br />
          </details>
          <br />

          <details>
            <summary class="btn-flat-border">最終問題 - ヒント②</summary>
            <br /><br />
            分数？
            <br />
          </details>
          <br />

          <details>
            <summary class="btn-flat-border">最終問題 - ヒント③</summary>
            <br /><br />
            通分してみよう
            <br />
          </details>
          <br />

          <details>
            <summary class="btn-flat-border">最終問題 - ヒント④</summary>
            <br /><br />
            26個あるものとは？
            <br />
          </details>
          <br />

          <details>
            <summary class="btn-flat-border">最終問題 - 解答</summary>
            <br /><br />
            Twitter
            <br />
          </details>

        </div>

        <br /><br /><br />

        <!-- STAGE3解答入力セクション　ここまで -->


      </div>
      <!-- STAGE3　ここまで -->

    </div>

    <div id="cr">
      <div class="hr rem2"></div>

      授業主催： N・S高<br />
      協力：株式会社SCRAP<br />
      企画制作：N・S高生<br />
      <br />
      「リアル脱出ゲーム」は株式会社SCRAPの登録商標です。
      <br /><br />
      株式会社SCRAPとN・S高で実施した授業「リアル脱出ゲームの作り方」の一環で<br />
      生徒が制作したものであり、<br />
      SCRAPが主催/公認するものではありません。

      <div class="hr rem2"></div>

      © 2021 YOYOGI39
    </div>

  </div>

  <script src="https://unpkg.com/vue@next"></script>
  <script src="assets/js/main.js"></script>
</body>

</html>